.idea
__pycache__
venv_name
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
idea/
.venv/
backup.sql
.env
/venv
static/*.jpg
static/*.png

certfile.pem
keyfile.pem
nohup.out
output.log
uvicorn.log
